<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Courses</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="page">
            <header class="header">
                <a class="button-main-page" asp-controller="Home" asp-action="Index">Main page</a>
            </header>
            <main>
                <div class="container">
                    @RenderBody()
                </div>
            </main>
            <footer class="footer">
                <p>&copy; 2022 - Courses - </p>
            </footer>
        </div>
    </body>
</html>