@model IEnumerable<GroupModel>
@{
    ViewData["Title"] = "Groups";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Groups</title>
    </head>
    <body>
        <h3 class="title">Groups</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    if (ViewBag.CourseId == group.CourseId)
                    {
                        <tr>
                        
                            <td><a asp-controller="Student" asp-action="DisplayStudent" asp-route-Id="@group.Id">@group.Name</a></td>
                            <td><a class="button button-delete" asp-controller="Group" asp-action="Delete" asp-route-Id="@group.Id">Удалить</a></td>
                        </tr>            
                    } 
                }
            </tbody>
        </table>
    </body>
</html>